* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100svw;
    height: 100svh;
}

img {
    width: 50px;
    aspect-ratio: 1;
}

header {
    height: 8svh;
    width: 100%;
    background-color: #000080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > nav {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > nav > img {
    width: 60px;
    aspect-ratio: 1;
}

header > nav > button {
    background-color: #0F52BA;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: none;
    transition: transform 0.2s ease-in-out;
}

header > nav > button:hover {
    transform: translateY(-2px);
}


main {
    position: relative;
    z-index: 0;
    height: 92svh;
    width: 100%;
    display: grid;
    grid-template-rows: 9fr 1fr;
    background-color: #f5f5f5;
}

main > section:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

main > section:nth-child(1) > aside {
    background-color: #C0C0C0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main > section:nth-child(1) > aside > p {
    font-size: 1.5rem;
    font-weight: bold;
}

main > section:nth-child(1) > section {
    margin: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

main > section:nth-child(1) > section > h1 {
    font-size: 2rem;
    font-weight: bold;
}

main > section:nth-child(1) > section > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main > section:nth-child(1) > section > form button[type="submit"] {
    background-color: #0F52BA;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: none;
    transition: transform 0.2s ease-in-out;
}

main > section:nth-child(1) > section > form button[type="submit"]:hover {
    transform: scale(1.09);
}

main > section:nth-child(1) > section > form div.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main > section:nth-child(1) > section > form div.login label {
    font-size: 1.1rem;
    font-weight: 400;
}

main > section:nth-child(1) > section > form div.login input {
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    padding: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

main > section:nth-child(1) > section > form div.signUp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main > section:nth-child(1) > section > form div.signUp p {
    font-size: 1rem;
    font-weight: 400;
}

main > section:nth-child(1) > section > form div.signUp button {
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #0F52BA;
    cursor: pointer;
    box-shadow: -5px 2px 10px 1px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

main > section:nth-child(1) > section > form div.signUp button:hover {
    transform: scale(1.09);
    background-color: #0F52BA;
    color: #fff;
}

main > section:nth-child(1) > section > img {
    aspect-ratio: 2/1;
    width: 200px;
}

main footer {
    background-color: #000080;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#aboutVentanaAcercaPaginaWrapper {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000; /* Encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

#aboutVentanaAcercaPagina {
    background-color: #fff;
    margin: 15% auto; /* Centrado vertical y horizontal */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Ajusta el ancho del modal */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#aboutVentanaAcercaPagina > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#aboutVentanaAcercaPagina > div:nth-child(1) > h2 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#aboutVentanaAcercaPagina > div:nth-child(1) > span {
    font-size: 1.5rem;
    font-weight: bold;
}

#aboutVentanaAcercaPagina > div:nth-child(1) > span:hover {
    cursor: pointer;
}

#aboutVentanaAcercaPagina > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}